.cursos h2{
  text-align: center;
  margin: auto;
  margin-bottom: 30px;
  margin-top: auto;
  border-radius: 4px;
  }

  select{
    border-color: rgb(110, 5, 96);
    width: 50%;
    padding: 10px;  
    margin: auto;
    border-radius: 2px;
    cursor: pointer;
  }
.cursos {
    text-align: center;
    margin: auto;
    margin-top: auto;
    border-radius: 4px;
    }