<html lang="es">
<head>
    <title>{% block titulo %} {% endblock %}</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'contenido/css/encabezado.css'%}">
    <link rel="stylesheet" href="{% static 'contenido/css/formulario.css'%}">
    <link rel="stylesheet" href="{% static 'contenido/css/cursos.css'%}">
    <link rel="stylesheet" href="{% static 'contenido/css/pagina.css'%}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
    <!--MENÚ-->
    <nav id="menu">
        <ul>
            <li><a href="{%url 'Pagina'%}">Home</a></li>
            <li><a href="{%url 'Cursos'%}">Cursos</a></li>
            <li><a href="{%url 'Comentarios2'%}">Comentarios Cursos</a></li>
            <li><a href="{%url 'Formulario'%}">Formulario</a></li>
            <li><a href="{%url 'Comentarios'%}">Comentarios Formulario</a></li>
        </ul>
    </nav>
    <!-- CONTENIDO -->
    {% block contenido %} <!--Template Tag-->
<!--block sirve para indicar que colocaremos un bloque de
contenido a través de nuestra variable content -->
    {% endblock %}
</body>
</html>