
{% extends "contenido/encabezado.html" %}

{% block titulo %}PAGINA INICIAL{% endblock %} 


{% block contenido %}
    <div class="inicio">
        <h1>BIENVENIDO</h1>
    
        <p>Aqui encontraras algunos cursos disponibles, 
            contaras con un formulario para cualquier tipo de informacion que necesites sobre el curso de tu agrado, 
            podras saltar de pagina a pagina gracias al menu que se encuentra en la parte superior</p>

            <!-- Tabla de Cursos -->
            <table class="table table-bordered tablestriped">
            <thead>
            <tr>
            <th>Curso</th>
            <th>Turno</th>
            <th>Matricula</th>
            <th>Calificación</th>
            </tr>
            </thead>

            <tbody>
                {% for comentario in comentarios %}
                <tr>
                <td class="text-semibold">{{comentario.mat}}</td>
                <td class="muted">{{comentario.tur}}</td>
                <td class="muted">{{comentario.matricula}}</td>
                <td class="muted">{{comentario.calif}}</td>   
                <td class="text-center"><a href="{%url 'Curso' comentario.id%}">Editar</a> 
                </td>
                <td class="text-center">
                    <a href="{%url 'EliminarCurso' comentario.id%}">Eliminar</a>
                </td>
                </tr>
                {% endfor %}
                </tbody>
                </table>
                <!-- /Tabla de alumnos -->
    </div>
{% endblock %}