
{% extends "contenido/encabezado.html" %}

{% block titulo%} CONTACTANOS {%endblock%}

{% block encabezado%}

    <!--Encabezdo -->
        <div class="page-header">
            <div class="page-title">
            <h3>Contactanos
            <small>Modificando comentario</small></h3>
            </div>
        </div>
    <!-- /Encabezado -->

{%endblock%}  


{%block contenido%}
<div  class="form">
    <form action="{% url 'EditarCurso' comentario.id%}" method="POST" role="form">
    {%csrf_token%}
    <h2>Solicitar Información</h2>
        <p>Curso:<input value={{comentario.mat}} type="text" name="mat"></p>
        <p>Turno:<input value={{comentario.tur}} type="text" name="tur"></p>
        <p>Matricula:<input value={{comentario.matricula}} type="text" name="matricula"></p>
        <p>Calificacion:<input value={{comentario.calif}}  type="text" name="calif"></p>
        <p><input class="btn btn-primary" type="submit" name="enviar" value="Enviar"></p>
    </form>
</div>
{%endblock%}