
{% extends "contenido/encabezado.html" %}

{% block titulo %}FORMULARIO{% endblock %} 

{%block contenido%}
<div  class="form">
    <form action="{% url 'Registrar'%}" method="POST" role="form">
    {%csrf_token%}
    <h2>Solicitar Información</h2>
        <p>Nombre:<input type="text" name="nombre"></p>
        <p>Correo:<input type="text" name="correo"></p>
        <p>Cursos:<input type="text" name="curso"></p>
        </p><textarea name="mensaje" cols="50" rows="10" placeholder="Comentario"></textarea></p>
        <p><input class="btn btn-primary" type="submit" name="enviar" value="Enviar"></p>
    </form>
</div>
{%endblock%}